In [1]:
# Importing all libraries from other file

%run Libraries.ipynb

In [2]:
# Loading dataset
Before_Pandemic = pd.read_csv('Before_Pandemic.csv')

During_Pandemic = pd.read_csv('During_Pandemic.csv')

### Data Transformation

#### 1. "Before_Pandemic" dataset:

In [3]:
# Renaming features name for better understanding

Before_Pandemic1 = Before_Pandemic.rename(columns={'Labour force characteristics': 'Labour_characteristics', 'North American Industry Classification System (NAICS)':'NAICS'})
Before_Pandemic1 = Before_Pandemic1.replace('Full-time employment','Full-time').replace('Part-time employment','Part-time')

Before_Pandemic1

,REF_DATE,GEO,Labour_characteristics,NAICS,Sex,Age group,VALUE
0,2017,Canada,Labour force,"Total, all industries",Both sexes,15 years and over,19530.3
1,2017,Canada,Labour force,"Total, all industries",Both sexes,15 to 24 years,2829.8
2,2017,Canada,Labour force,"Total, all industries",Both sexes,25 to 54 years,12634.6
3,2017,Canada,Labour force,"Total, all industries",Both sexes,55 years and over,4065.8
4,2017,Canada,Labour force,"Total, all industries",Males,15 years and over,10305.3
...,...,...,...,...,...,...,...
42360,2019,British Columbia,Unemployment,Unclassified industries,Males,55 years and over,6.0
42361,2019,British Columbia,Unemployment,Unclassified industries,Females,15 years and over,25.3
42362,2019,British Columbia,Unemployment,Unclassified industries,Females,15 to 24 years,6.3
42363,2019,British Columbia,Unemployment,Unclassified industries,Females,25 to 54 years,15.4
42364,2019,British Columbia,Unemployment,Unclassified industries,Females,55 years and over,3.7

In [4]:
# Using ordinal encoding for categorical variables 'Labour_characteristics', 'Sex', & 'Age group'

Ordinal_encoder = ce.OrdinalEncoder(mapping=[{'col':'Labour_characteristics', 'mapping':{'Unemployment':0, 'Employment':1, 'Full-time':2, 'Labour force':3, 'Part-time':4}},
                                                 {'col':'Sex', 'mapping':{'Both sexes':0, 'Males':1, 'Females':2}},
                                                 {'col':'Age group', 'mapping':{'15 years and over':0, '15 to 24 years':1, '25 to 54 years':2, '55 years and over':3}}])

Ordinal_encoder.fit(Before_Pandemic1)
Before_Pandemic1 = Ordinal_encoder.transform(Before_Pandemic1)

Before_Pandemic1

,REF_DATE,GEO,Labour_characteristics,NAICS,Sex,Age group,VALUE
0,2017,Canada,3,"Total, all industries",0,0,19530.3
1,2017,Canada,3,"Total, all industries",0,1,2829.8
2,2017,Canada,3,"Total, all industries",0,2,12634.6
3,2017,Canada,3,"Total, all industries",0,3,4065.8
4,2017,Canada,3,"Total, all industries",1,0,10305.3
...,...,...,...,...,...,...,...
42360,2019,British Columbia,0,Unclassified industries,1,3,6.0
42361,2019,British Columbia,0,Unclassified industries,2,0,25.3
42362,2019,British Columbia,0,Unclassified industries,2,1,6.3
42363,2019,British Columbia,0,Unclassified industries,2,2,15.4
42364,2019,British Columbia,0,Unclassified industries,2,3,3.7

In [5]:
# Using label encoding for categorical variables 'GEO', 'NAICS'


# Changing datatypes of 'GEO' & 'NAICS' variables to category from object
Before_Pandemic1['GEO'] = Before_Pandemic1['GEO'].astype('category')
Before_Pandemic1['NAICS'] = Before_Pandemic1['NAICS'].astype('category')

# Creating an instance of labelencoder
labelencoder = LabelEncoder()


# Assigning numerical values and storing in another column
Before_Pandemic1['GEO_Cat'] = labelencoder.fit_transform(Before_Pandemic1['GEO'])
Before_Pandemic1['NAICS_Cat'] = labelencoder.fit_transform(Before_Pandemic1['NAICS'])

Before_Pandemic1

,REF_DATE,GEO,Labour_characteristics,NAICS,Sex,Age group,VALUE,GEO_Cat,NAICS_Cat
0,2017,Canada,3,"Total, all industries",0,0,19530.3,2,23
1,2017,Canada,3,"Total, all industries",0,1,2829.8,2,23
2,2017,Canada,3,"Total, all industries",0,2,12634.6,2,23
3,2017,Canada,3,"Total, all industries",0,3,4065.8,2,23
4,2017,Canada,3,"Total, all industries",1,0,10305.3,2,23
...,...,...,...,...,...,...,...,...,...
42360,2019,British Columbia,0,Unclassified industries,1,3,6.0,1,25
42361,2019,British Columbia,0,Unclassified industries,2,0,25.3,1,25
42362,2019,British Columbia,0,Unclassified industries,2,1,6.3,1,25
42363,2019,British Columbia,0,Unclassified industries,2,2,15.4,1,25
42364,2019,British Columbia,0,Unclassified industries,2,3,3.7,1,25

In [6]:
# Creating temporary variable to check assigned numeric values by lable encoding

d1 = Before_Pandemic1[["GEO", "GEO_Cat"]]
d2 = Before_Pandemic1[["NAICS", "NAICS_Cat"]]

In [7]:
# Printing assigned numeric values

d1.drop_duplicates('GEO')
d2.drop_duplicates('NAICS')

                                                 NAICS  NAICS_Cat
0                                Total, all industries         23
12                              Goods-producing sector         11
24              Agriculture [111-112, 1100, 1151-1152]          1
36   Forestry, fishing, mining, quarrying, oil and ...         10
48   Forestry and logging and support activities fo...          9
59                 Fishing, hunting and trapping [114]          8
69   Mining, quarrying, and oil and gas extraction ...         15
81                                      Utilities [22]         26
93                                   Construction [23]          3
105                              Manufacturing [31-33]         14
117                       Durables [321, 327, 331-339]          4
129                    Non-durables [311-316, 322-326]         16
141                          Services-producing sector         22
153             Wholesale and retail trade [41, 44-45]         27
165                               Wholesale trade [41]         28
177                               Retail trade [44-45]         21
189             Transportation and warehousing [48-49]         24
201  Finance, insurance, real estate, rental and le...          7
213                         Finance and insurance [52]          6
225            Real estate and rental and leasing [53]         20
237  Professional, scientific and technical service...         18
249  Business, building and other support services ...          2
261                          Educational services [61]          5
273             Health care and social assistance [62]         12
285       Information, culture and recreation [51, 71]         13
297               Accommodation and food services [72]          0
309  Other services (except public administration) ...         17
321                         Public administration [91]         19
333                            Unclassified industries         25

#### 2. "During_Pandemic" dataset:

In [8]:
# Renaming features name for better understanding

During_Pandemic1 = During_Pandemic.rename(columns={'Labour force characteristics': 'Labour_characteristics', 'North American Industry Classification System (NAICS)':'NAICS'})
During_Pandemic1 = During_Pandemic1.replace('Full-time employment','Full-time').replace('Part-time employment','Part-time')

During_Pandemic1

,REF_DATE,GEO,Labour_characteristics,NAICS,Sex,Age group,VALUE
0,2020,Canada,Labour force,"Total, all industries",Both sexes,15 years and over,19896.6
1,2020,Canada,Labour force,"Total, all industries",Both sexes,15 to 24 years,2775.5
2,2020,Canada,Labour force,"Total, all industries",Both sexes,25 to 54 years,12807.8
3,2020,Canada,Labour force,"Total, all industries",Both sexes,55 years and over,4313.3
4,2020,Canada,Labour force,"Total, all industries",Males,15 years and over,10534.8
...,...,...,...,...,...,...,...
28619,2021,British Columbia,Unemployment,Unclassified industries,Males,55 years and over,10.9
28620,2021,British Columbia,Unemployment,Unclassified industries,Females,15 years and over,43.5
28621,2021,British Columbia,Unemployment,Unclassified industries,Females,15 to 24 years,11.9
28622,2021,British Columbia,Unemployment,Unclassified industries,Females,25 to 54 years,20.5
28623,2021,British Columbia,Unemployment,Unclassified industries,Females,55 years and over,11.1

In [9]:
# Using ordinal encoding for categorical variables 'Labour_characteristics', 'Sex', & 'Age group'

Ordinal_encoder = ce.OrdinalEncoder(mapping=[{'col':'Labour_characteristics', 'mapping':{'Unemployment':0, 'Employment':1, 'Full-time':2, 'Labour force':3, 'Part-time':4}},
                                                 {'col':'Sex', 'mapping':{'Both sexes':0, 'Males':1, 'Females':2}},
                                                 {'col':'Age group', 'mapping':{'15 years and over':0, '15 to 24 years':1, '25 to 54 years':2, '55 years and over':3}}])

Ordinal_encoder.fit(During_Pandemic1)
During_Pandemic1 = Ordinal_encoder.transform(During_Pandemic1)

During_Pandemic1

,REF_DATE,GEO,Labour_characteristics,NAICS,Sex,Age group,VALUE
0,2020,Canada,3,"Total, all industries",0,0,19896.6
1,2020,Canada,3,"Total, all industries",0,1,2775.5
2,2020,Canada,3,"Total, all industries",0,2,12807.8
3,2020,Canada,3,"Total, all industries",0,3,4313.3
4,2020,Canada,3,"Total, all industries",1,0,10534.8
...,...,...,...,...,...,...,...
28619,2021,British Columbia,0,Unclassified industries,1,3,10.9
28620,2021,British Columbia,0,Unclassified industries,2,0,43.5
28621,2021,British Columbia,0,Unclassified industries,2,1,11.9
28622,2021,British Columbia,0,Unclassified industries,2,2,20.5
28623,2021,British Columbia,0,Unclassified industries,2,3,11.1

In [10]:
# Using label encoding for categorical variables 'GEO', 'NAICS'

# Changing datatypes of 'GEO' & 'NAICS' variables to category from object
During_Pandemic1['GEO'] = During_Pandemic1['GEO'].astype('category')
During_Pandemic1['NAICS'] = During_Pandemic1['NAICS'].astype('category')

# Creating an instance of labelencoder
labelencoder = LabelEncoder()


# Assigning numerical values and storing in another column
During_Pandemic1['GEO_Cat'] = labelencoder.fit_transform(During_Pandemic1['GEO'])
During_Pandemic1['NAICS_Cat'] = labelencoder.fit_transform(During_Pandemic1['NAICS'])

During_Pandemic1

,REF_DATE,GEO,Labour_characteristics,NAICS,Sex,Age group,VALUE,GEO_Cat,NAICS_Cat
0,2020,Canada,3,"Total, all industries",0,0,19896.6,2,23
1,2020,Canada,3,"Total, all industries",0,1,2775.5,2,23
2,2020,Canada,3,"Total, all industries",0,2,12807.8,2,23
3,2020,Canada,3,"Total, all industries",0,3,4313.3,2,23
4,2020,Canada,3,"Total, all industries",1,0,10534.8,2,23
...,...,...,...,...,...,...,...,...,...
28619,2021,British Columbia,0,Unclassified industries,1,3,10.9,1,25
28620,2021,British Columbia,0,Unclassified industries,2,0,43.5,1,25
28621,2021,British Columbia,0,Unclassified industries,2,1,11.9,1,25
28622,2021,British Columbia,0,Unclassified industries,2,2,20.5,1,25
28623,2021,British Columbia,0,Unclassified industries,2,3,11.1,1,25

In [11]:
# Creating temporary variable to check assigned numeric values by lable encoding

d3 = During_Pandemic1[["GEO", "GEO_Cat"]]
d4 = During_Pandemic1[["NAICS", "NAICS_Cat"]]

In [12]:
# Printing assigned numeric values

d3.drop_duplicates("GEO")
d4.drop_duplicates('NAICS')

                                                 NAICS  NAICS_Cat
0                                Total, all industries         23
12                              Goods-producing sector         11
24              Agriculture [111-112, 1100, 1151-1152]          1
36   Forestry, fishing, mining, quarrying, oil and ...         10
48   Forestry and logging and support activities fo...          9
60                 Fishing, hunting and trapping [114]          8
71   Mining, quarrying, and oil and gas extraction ...         15
83                                      Utilities [22]         26
95                                   Construction [23]          3
107                              Manufacturing [31-33]         14
119                       Durables [321, 327, 331-339]          4
131                    Non-durables [311-316, 322-326]         16
143                          Services-producing sector         22
155             Wholesale and retail trade [41, 44-45]         27
167                               Wholesale trade [41]         28
179                               Retail trade [44-45]         21
191             Transportation and warehousing [48-49]         24
203  Finance, insurance, real estate, rental and le...          7
215                         Finance and insurance [52]          6
227            Real estate and rental and leasing [53]         20
239  Professional, scientific and technical service...         18
251  Business, building and other support services ...          2
263                          Educational services [61]          5
275             Health care and social assistance [62]         12
287       Information, culture and recreation [51, 71]         13
299               Accommodation and food services [72]          0
311  Other services (except public administration) ...         17
323                         Public administration [91]         19
335                            Unclassified industries         25

In [13]:
Before_Pandemic1.set_index('REF_DATE', inplace=True)

During_Pandemic1.set_index('REF_DATE', inplace=True)

In [14]:
# Saving files

Before_Pandemic1.to_csv('C:/Users/Kuldeep/OneDrive/Desktop/DAB402/Before_Pandemic1.csv')

During_Pandemic1.to_csv('C:/Users/Kuldeep/OneDrive/Desktop/DAB402/During_Pandemic1.csv')

### Performing 'Pandas-Profiling' for the better understanding

#### Before-Pandemic dataset

In [18]:
df = pd.DataFrame(Before_Pandemic1, columns=["GEO_Cat", "Labour_characteristics", "NAICS_Cat", "Sex", "Age group", "VALUE"])

In [19]:
profile = ProfileReport(df, title="Pandas Profiling Report")

In [20]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [21]:
profile.to_file("your_report.html")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

#### During-Pandemic dataset

In [22]:
df1 = pd.DataFrame(During_Pandemic1, columns=["GEO_Cat", "Labour_characteristics", "NAICS_Cat", "Sex", "Age group", "VALUE"])

In [23]:
profile1 = ProfileReport(df1, title="Pandas Profiling Report")
profile1.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [24]:
profile1.to_file("your_report1.html")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]